{% set network = _Network.getNetworkData() %}
{{set(this,'title',(article.title))}}


<div class="page__content-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-0">
                <div class="article__wrapper">
                    <div class="article__slide {#article__slide-video#}">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <img src="{{network.templatePath}}/static/images/demo.jpg" class="img-fluid" alt="image" />
                            </div>
                            <div class="item">
                                <span class="video-play"></span>
                                <img src="{{network.templatePath}}/static/images/demo.jpg" class="img-fluid" alt="image" />
                            </div>
                            <div class="item">
                                <img src="{{network.templatePath}}/static/images/demo.jpg" class="img-fluid" alt="image" />
                            </div>
                        </div>
                        <div class="article__userInfo">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="article__userInfo-content text-center">
                                            <div class="article__userInfo-date">Published 26th August 2017</div>
                                            <div class="article__userInfo-title">What is stopping clean energy from taking on baseload power?</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="article__main">    
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-10 m-auto">
                                            <div class="article__main-authorSlide">
                                                <div class="author-carousel regular slider">
                                                    {% set authorImg = 'background-image: url("'~network.templatePath~'/static/images/demo.jpg")' %}
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                    <div class="article__main-authorSlide-content">
                                                        <figure class="image-covered rounded-circle" style="{{authorImg}}"></figure>
                                                        <div class="title">Victoria Atkins</div>
                                                        <div class="designation">Environmental Scientist</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article__main-wrapper">
                                        <div class="article__main-social" id="socialFix">
                                            <ul>
                                                <li>
                                                    <a href="javscript:;"><i class="fa fa-envelope"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javscript:;"><i class="fa fa-facebook"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javscript:;"><i class="fa fa-twitter"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javscript:;"><i class="fa fa-linkedin"></i></a>
                                                </li>
                                                <li>
                                                    <a href="javscript:;"><i class="fa  fa-print"></i></a>
                                                </li>                                                
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="col-10 m-auto">
                                                <div class="article__main-content">
                                                    <p>The future of civilisation and much biodiversity hangs to a large degree on whether we can replace fossil fuels - coal, oil and gas - with clean, safe and affordable energy within several decades. The good news is that renewable energy technologies and energy efficiency measures have advanced with extraordinary speed over the past decade.</p>
                                                    <p>Energy efficient buildings and appliances, solar hot water, on-shore wind,  solar photovoltaic (PV) modules, concentrated solar thermal (CST) power with thermal storage and gas turbines burning a wide range of renewable liquid and gaseous fuels are commercially available on a large scale. The costs of these technologies have declined substantially, especially those of solar PV. In 2012, despite the global financial crisis, global investment in these clean, safe and healthy technologies amounted to US $269 billion. Denmark, Scotland and Germany and several states/provinces around the world have official targets of around 100% renewable electricity and are implementing policies to achieve them.</p>
                                                    <p>The principal barrier is resistance from vested interests and their supporters in the big greenhouse gas polluting industries and from an unsafe, expensive, polluting, would-be competitor to a renewable energy future, nuclear power. These powerful interests are running a campaign of renewable energy denial that is almost as fierce as the long-running campaign of climate change denial. Both campaigns are particularly noisy in the Murdoch press. So far the anti-renewables campaign, with its misinformation and gross exaggerations, has received little critical examination in the mainstream media.</p>

                                                    <h1>Renewable electricity is reliable</h1>
                                                    <p>In a previous article for The Conversation I reported on the initial results of computer simulations by a research team at the University of New South Wales that busted the myth that renewable energy cannot supply base-load demand. However at the time of the article I was still under the misconception that some base-load renewable energy supply may be needed to be part of the renewable energy mix.</p>
                                                    <ul>
                                                        <li>Since then Ben Elliston, Iain MacGill and I have performed thousands of computer simulations of 100% renewable electricity in the National Electricity Market (NEM), using actual hourly data on electricity demand, wind and solar power for 2010. Our latest research, available here and reported here, finds that generating systems comprising a mix of different commercially available renewable energy technologies, located on geographically dispersed sites, do not need base-load power stations to achieve the same reliability as fossil-fuelled systems.</li>
                                                        <li>The old myth was based on the incorrect assumption that base-load demand can only be supplied by base-load power stations; for example, coal in Australia and nuclear in France. However, the mix of renewable energy technologies in our computer model, which has no base-load power stations, easily supplies base-load demand. Our optimal mix comprises wind 50-60%; solar PV 15-20%; concentrated solar thermal with 15 hours of thermal storage 15-20%; and the small remainder supplied by existing hydro and gas turbines burning renewable gases or liquids. (Contrary to some claims, concentrated solar with thermal storage does not behave as base-load in winter; however, that doesn’t matter.)</li>
                                                        <li>The real challenge is to supply peaks in demand on calm winter evenings following overcast days. That’s when the peak-load power stations, that is, hydro and gas turbines, make vital contributions by filling gaps in wind and solar generation.</li>
                                                    </ul>
                                                    <h2>Renewable electricity is reliable</h2>
                                                    <h3>Renewable electricity is reliable</h3>
                                                    <h4>Renewable electricity is reliable</h4>
                                                    <h5>Renewable electricity is reliable</h5>
                                                    <h6>Renewable electricity is reliable</h6>
                                                    <img src="{{network.templatePath}}/static/images/demo.jpg" alt="image" class="img-fluid" />
                                                    <blockquote>Since then Ben Elliston, Iain MacGill and I have performed thousands of computer simulations of 100% renewable electricity in the National Electricity Market (NEM), using actual hourly data on electricity demand, wind and solar power for 2010. Our latest research, available here and reported here, finds that generating systems comprising a mix of different commercially available renewable energy technologies, located on geographically dispersed sites, do not need base-load power stations to achieve the same reliability as fossil-fuelled systems.</blockquote>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="article__main-author-wrapper">
                                                    <div class="section__head with-border">
                                                        <h3>About the Authors</h3>
                                                    </div>
                                                    <div class="author__listing">
                                                        <ul>
                                                            <li>
                                                                <figure>
                                                                    <img src="{{network.templatePath}}/static/images/demo.jpg" class="img-fluid" alt="image" />
                                                                </figure>
                                                                <div class="author__listing-content">
                                                                    <h4>Janet Stanely</h4>
                                                                    <h5>Chief Research Officer, Monash University</h5>
                                                                    <p>Prior to her current role, Janet was Senior Manager, Research and Policy at the Brotherhood of St. Laurence. Janet's current research interests are in relation to social policy, transport, equity and policy on climate change, bushfire arson, social exclusion, social capital and community development, and project evaluation.</p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <figure>
                                                                    <img src="{{network.templatePath}}/static/images/demo.jpg" class="img-fluid" alt="image" />
                                                                </figure>
                                                                <div class="author__listing-content">
                                                                    <h4>Janet Stanely</h4>
                                                                    <h5>Chief Research Officer, Monash University</h5>
                                                                    <p>Prior to her current role, Janet was Senior Manager, Research and Policy at the Brotherhood of St. Laurence. Janet's current research interests are in relation to social policy, transport, equity and policy on climate change, bushfire arson, social exclusion, social capital and community development, and project evaluation.</p>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <figure>
                                                                    <img src="{{network.templatePath}}/static/images/demo.jpg" class="img-fluid" alt="image" />
                                                                </figure>
                                                                <div class="author__listing-content">
                                                                    <h4>Janet Stanely</h4>
                                                                    <h5>Chief Research Officer, Monash University</h5>
                                                                    <p>Prior to her current role, Janet was Senior Manager, Research and Policy at the Brotherhood of St. Laurence. Janet's current research interests are in relation to social policy, transport, equity and policy on climate change, bushfire arson, social exclusion, social capital and community development, and project evaluation.</p>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>