{% set socialBg = "background-image: url('"~network.templatePath~"/static/images/demo.jpg');" %}
<footer class="footer">
    <div class="footer__top image-covered" style="{{socialBg}}">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer__top-content">
                        <h2>Join the conversation</h2>
                        <div class="footer__top-listing">
                            <ul>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-google-plus"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-tumblr-square"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-youtube-square"></i></a>
                                </li>
                                <li>
                                    <a href="javascipt:;"><i class="fa fa-weibo"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__main">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="footer__main-content">
                                <div class="footer__main-content-listing multiple">
                                    {% set menuItems = blog.blogFooterMenu %}
                                    {% set firstIterator = (menuItems | length)/2 | round  %}
                                    {% set secondIterator = (menuItems | length) - firstIterator  %}
                                    {% if firstIterator > 0 %}
                                        <ul>
                                        {% for i in 0..(firstIterator - 1) %}
                                            {% if menuItems[i] is defined %}
                                                {% set name = ((menuItems[i].label is empty) ? ((menuItems[i].pageTitle is empty)? menuItems[i].blogTitle : menuItems[i].pageTitle) : menuItems[i].label) %}
                                                <li>
                                                    <a href="{{menuItems[i].link |raw}}">{{name}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {% if secondIterator > 0 %}
                                        <ul>
                                        {% for i in firstIterator..menuItems | length %}
                                            {% if menuItems[i] is defined %}
                                                {% set name = ((menuItems[i].label is empty) ? ((menuItems[i].pageTitle is empty)? menuItems[i].blogTitle : menuItems[i].pageTitle) : menuItems[i].label) %}
                                                <li>
                                                    <a href="{{menuItems[i].link |raw}}">{{name}}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                        
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="footer__main-content">
                        <div class="disclaimer-text">
                            Authorised by: Chief Marketing Officer, Strategic Marketing and Communications. Maintained by: eSolutions Service Desk. Last updated: Aug 2017.<br/>
                            Copyright &copy; 2017 Monash University. ABN 12 377 614 012 Accessibility - Disclaimer and copyright - Privacy, Monash University CRICOS Provider Number: 00008C, Monash College CRICOS Provider Number: 01857J. Monash University is a registered higher education provider under the TEQSA Act 2011.<br/>
                            We acknowledge and pay respects to the Elders and Traditional Owners of the land on which our five Australian campuses stand. Information for Indigenous Australians
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>