<header class="header header__fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header__main d-flex">
                    <aside class="header__main-left">
                        <div class="header__main-logo">
                            {% set mainLogo = network.templatePath~'/static/images/logo-white.svg' %}
                            {% set mainLogoScroll = network.templatePath~'/static/images/logo.svg' %}
                            {% set logoUrl = network.networkLogoLinkUrl %}
                            {% if network.logoMedia | length > 0 %}
                                {% set mainLogo = _Media.getMediaUrl(network.logoMedia, 177, 65, {'crop': 'limit'} )%}
                            {% endif %}

                            <a href="{{logoUrl}}">
                                <img class="logo__main img-fluid" src="{{mainLogo}}" alt="image" />
                                <img class="logo__scroll img-fluid" src="{{mainLogoScroll}}" alt="image" />
                            </a>
                        </div>
                    </aside>
                    <aside class="header__main-right">
                        <div class="navigation__main d-flex align-items-center">
                            <div class="navigation__login">
                                <!--
                                <div class="navigation__login-nav">
                                    <a href="javascript:;">Login</a>
                                    <a href="javascript:;">Signup</a>
                                </div>
                                -->
                                {% if not _User.isGuest()%}
                                    {% set user = _User.getUser()%}
                                    <div class="navigation__login-user">
                                        {% set profileImage = _Media.getMediaUrl(user.profileMedia, 80, 80, {radius: 'max', gravity: 'face', 'crop': 'thumb', 'type' : 'user'}) %}
                                        <div class="navigation__login-user-image image-covered rounded-circle" data-toggle="dropdown" style="background-image: url('{{profileImage}}');"></div>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">My Profile</a>
                                            <a class="dropdown-item" href="{{_AppHelper.getLogoffUrl()}}">Logout</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <form action="{{ url('search') }}" method="GET" id="headerSearchForm">
                                <div class="navigation__search desktop-search">
                                    <input class="form-control" id="desktopSearch" name="s" type="text" autocomplete="off" placeholder="Search here" />
                                    <button class="button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                            <div class="menu-bar"><i class="fa fa-bars"></i></div>
                            <div class="navigation__main-menu">
                                <form action="{{ url('search') }}" method="GET">
                                    <div class="navigation__search responsive-search">
                                        <input class="form-control" name="s" type="text" autocomplete="off" placeholder="Search here" />
                                        <button class="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                                {% set menuItems = blog.blogHeaderMenu %}
                                {% for i in 0..4 %}
                                    {% if menuItems[i] is defined %}
                                        {% set hasChildren = menuItems[i].children is defined and menuItems[i].children | length > 0 ? true : false %} 
                                        {% if hasChildren %}
                                            <ul>
                                            {% for childItem in menuItems[i].children%}
                                                {% set externalClass = (childItem.isExternal) ? 'external-link' : '' %}
                                                {% set name = ((childItem.label is empty) ? ((childItem.pageTitle is empty)? childItem.blogTitle : childItem.pageTitle) : childItem.label) %}
                                                <li><a href="{{childItem.link |raw}}" {% if childItem.target != "" %}target="{{childItem.target}}"{% endif %}>{{ name }}</a></li>
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Responsive Profile -->
    <div class="responsive-standalone">
        <a href="javascript:;" class="responsive-standalone-close"><span class="fa fa-close" aria-hidden="true"></span></a>
        <div class="standalone-menu"></div>
    </div>
    <div class="responsive-standalone-overlay"></div>
    <!-- //End Responsive Profile -->
</header>