<header class="header header__fixed">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="header__main d-flex">
                    <aside class="header__main-left">
                        <div class="header__main-logo">
                            {% set mainLogo = network.templatePath~'/static/images/logo-white.svg' %}
                            {% set mainLogoScroll = network.templatePath~'/static/images/logo.svg' %}

                            <a href="javascript:;">
                                <img class="logo__main img-fluid" src="{{mainLogo}}" alt="image" />
                                <img class="logo__scroll img-fluid" src="{{mainLogoScroll}}" alt="image" />
                            </a>
                        </div>
                    </aside>
                    <aside class="header__main-right">
                        <div class="navigation__main d-flex align-items-center">
                            <div class="navigation__login">
                                <div class="navigation__login-nav">
                                    <a href="javascript:;">Login</a>
                                    <a href="javascript:;">Signup</a>
                                </div>
                                <div class="navigation__login-user d-none">
                                    {% set profileImage = network.templatePath~'/static/images/demo.jpg' %}
                                    <div class="navigation__login-user-image image-covered rounded-circle" data-toggle="dropdown" style="background-image: url('{{profileImage}}');"></div>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <form action="{{ url('search') }}" method="GET" id="headerSearchForm">
                                <div class="navigation__search desktop-search">
                                    <input class="form-control" id="desktopSearch" name="s" type="text" autocomplete="off" placeholder="Search here" />
                                    <button class="button"><i class="fa fa-search"></i></button>
                                </div>
                            </form>
                            <div class="menu-bar"><i class="fa fa-bars"></i></div>
                            <div class="navigation__main-menu">
                                <form action="{{ url('search') }}" method="GET">
                                    <div class="navigation__search responsive-search">
                                        <input class="form-control" name="s" type="text" autocomplete="off" placeholder="Search here" />
                                        <button class="button"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                                <ul>
                                    <li><a href="javascript:;">Medicine and Health</a></li>
                                    <li><a href="javascript:;">Business and Economy</a></li>
                                    <li><a href="javascript:;">Politics and Society</a></li>
                                    <li><a href="javascript:;">Education</a></li>
                                    <li><a href="javascript:;">Innovation</a></li>
                                    <li><a href="javascript:;">Environment</a></li>
                                    <li><a href="javascript:;">Design and Architecture</a></li>
                                    <li><a href="javascript:;">Technology</a></li>
                                </ul>
                                <ul class="small-text">
                                    <li><a href="javascript:;">Terms of use</a></li>
                                    <li><a href="javascript:;">Privacy policy</a></li>
                                    <li><a href="javascript:;">About</a></li>
                                    <li><a href="javascript:;">Monash university</a></li>
                                </ul>
                                <ul>
                                    <li><a href="javascript:;">Subscribe</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Responsive Profile -->
    <div class="responsive-standalone">
        <a href="javascript:;" class="responsive-standalone-close"><span class="fa fa-close" aria-hidden="true"></span></a>
        <div class="standalone-menu"></div>
    </div>
    <div class="responsive-standalone-overlay"></div>
    <!-- //End Responsive Profile -->
</header>